{% extends 'index.html' %}
{% block body %}
<h2 class="title" align="center">Change Password</h2>
<form name="f1" method="post" action="/change_pass_post">
    <table class="table table-bordered">
        <tr>
            <td>Current Password</td>
            <td><input type="text" name="current_password" class="form-control" required></td>
        </tr>
        <tr>
            <td>New Password</td>
            <td><input type="text" name="new_password" class="form-control" required ></td>
        </tr>
        <tr>
            <td>Confirm Password</td>
            <td><input type="text" name="confirm_password" class="form-control" required ></td>
        </tr>

        <tr>
            <td colspan="2" align="center"><input type="submit" name="s1" value="Submit" class="btn btn-success"></td>
        </tr>
    </table>
</form>
{% endblock %}